## Preprocessing of file olist_orders_dataset.csv

## Initial Column Description

This file has the problem that it does not have the same number of columns in all rows, there are rows with 10 columns and others with 9.
A cleanup is performed by reading the file flat with the `open()` method. The transformed file is saved in data/pre_interim/orders_dataset_std_columns.csv'.

In [1]:
import pandas as pd

In [2]:
with open('../../data/pre_interim/orders_dataset.csv') as f:
    lines = f.readlines()

new_file = list()

new_file.append(lines[0])

for line in lines[1:]:
    #print(len(line.split(',')))
    l = line.split(',')
    if len(l) == 10:
        l.pop(2)
        new_file.append(','.join(l))
    else:
        new_file.append(line)

with open('../../data/pre_interim/orders_dataset_std_columns.csv', 'w') as f:
    for line in new_file:
        f.write(line)

In [4]:
df = pd.read_csv('../../data/pre_interim/orders_dataset_std_columns.csv')
df.head(150)

,ID,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1,1,0a8556ac6be836b46b3e89920d59291c,delivered,25/04/2018 22:01,25/04/2018 22:15,2/05/2018 15:20,9/05/2018 17:36,22/05/2018 0:00
1,2,2,f2c7fc58a9de810828715166c672f10a,delivered,26/06/2018 11:01,26/06/2018 11:18,28/06/2018 14:18,29/06/2018 20:32,16/07/2018 0:00
2,3,3,25b14b69de0b6e184ae6fe2755e478f9,delivered,12/12/2017 11:19,14/12/2017 9:52,15/12/2017 20:13,18/12/2017 17:24,4/01/2018 0:00
3,4,4,7a5d8efaaa1081f800628c30d2b0728f,delivered,6/12/2017 12:04,6/12/2017 12:13,7/12/2017 20:28,21/12/2017 1:35,4/01/2018 0:00
4,5,5,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,21/05/2018 13:59,21/05/2018 16:14,22/05/2018 11:46,1/06/2018 21:44,13/06/2018 0:00
...,...,...,...,...,...,...,...,...,...
145,146,146,55d6fe64c9ff321e925f284f7e0d69d8,delivered,17/09/2017 17:40,17/09/2017 17:55,22/09/2017 18:27,6/10/2017 17:43,10/10/2017 0:00
146,147,147,165aeeded3ae717287fc0fc25a2ccf99,delivered,19/06/2017 10:27,19/06/2017 10:35,21/06/2017 8:36,26/06/2017 16:47,11/07/2017 0:00
147,148,148,6de980369453bc98c75da669412a0e85,delivered,24/11/2017 19:51,24/11/2017 23:12,25/11/2017 16:35,30/11/2017 16:05,15/12/2017 0:00
148,149,149,a996449b1a83201ba86b95b20cfed295,delivered,16/07/2018 20:34,16/07/2018 20:45,17/07/2018 14:23,24/07/2018 18:28,3/08/2018 0:00
149,150,150,d50a8dc7e28e47e8119560e53b1c7deb,delivered,17/01/2018 21:01,17/01/2018 21:11,18/01/2018 23:43,23/01/2018 15:23,7/02/2018 0:00