# Code zip prefix update 
Contains the dataset of the zip code from Brazil

## Initial Column Description

|**Column Title**|**Unnamed: 0 -> int** |**code_zip_prefix_id -> int** | **code_zip_prefix -> int**| 
|--|--|--|--|
|Description |unnamed for this table |Code zip prefix id Identifier Number |Zip Code prefix |
|Example |0 |1 |1037 |

### Errors found
+ This dataset comes from a page and has a column unnamed that has to be deleted.

## Required Libraries

In [7]:
# Allows to work with CSV easily.
import pandas as pd
import numpy as np

## Data Preprocessing

We decided to charge the dataset from a external source to do the preprocessing to unify the zip code of brazil because in some datasets that contained this information was repeated or had different names.



|customer_zip_code_id |code_zip_prefix |
|--|--|
|1 |1037 |

### Data Correction

In [8]:
code_zip_csv = '../../data/pre_interim/code_zip_prefix_dataset.csv'
code_zip_df = pd.read_csv(code_zip_csv)

#### Clean code zip prefix

In [9]:
code_zip_df

       Unnamed: 0  code_zip_prefix_id  code_zip_prefix
0               0                   1             1037
1               1                   2             1046
2               2                   3             1041
3               3                   4             1035
4               4                   5             1012
...           ...                 ...              ...
19291       19292               19292            72338
19292       19293               19293            68629
19293       19294               19294            28530
19294       19295               19295            55863
19295       19296               19296            72587

[19296 rows x 3 columns]

#### Fix dataset

The column "Unnamed: 0" is eliminated because it comes from a previous index in pretreatment.

In [10]:
code_zip_df.drop(['Unnamed: 0'], axis=1, inplace=True)

### Creating final csv: code_zip_prefix_dataset.csv

finally the new csv file is created with the modified code zip prefix dataset. When you saved the dataset always mark **"index = False"**. Or pandas will add a new column with a consequtive number. This small script is to remove this useless column.

In [11]:
code_zip_df.to_csv('../../data/interim/code_zip_prefix_dataset.csv', index=False)

## Final Column Description

|**Column Title**|**code_zip_prefix_id -> int** |**code_zip_prefix -> int** |
|--|--|--|
|Description |Code zip prefix id Identifier Number |Customer Identifier Number |Zip Code prefix |
|Before Preprocessing |1 |1037 ||